<!DOCTYPE html>
<html>
  <head>
    <title>Raid Time</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row container">
      <div class="col">
        Logo
      </div>
      <div class="col">
        World of Warcraft
        <br />
        Raid Times
      </div>
      <div class="col log_in_link">
        <%= link_to 'Log In', '#' %>
      </div>
    </header>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
